@model IEnumerable<AMDM.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Search">

    <input name="query" id="query" autocomplete="off" placeholder="Search tickets..." />


    @*<label for="cars">filter by date:</label>
    <select id="date-filter" name="dateFilter" value="Search by dates...">
        <option value="today">Today</option>
        <option value="tomorrow">Tomorrow</option>
        <option value="week">This week</option>
        <option selected="selected" value="all">All dates</option>
    </select>
    <label>filter by training type:</label>
    <select id="type-filter" name="typeFilter" value="Search by trainings types...">
        <option selected="selected" value="all">All trainings types</option>

    </select>
    <label>filter by trainer name:</label>
    <select id="trainer-filter" name="trainerFilter" value="Search by trainer name...">
        <option selected="selected" value="all">All trainers</option>

    </select>*@
    <input type="submit" value="Search" class="btn btn-primary" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemainingPunchingHoles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiredDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketType.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trainee.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RemainingPunchingHoles)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiredDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
