@model IEnumerable<AMDM.Models.Training>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
@Html.AntiForgeryToken()}

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Search">
    <input name="query" id="query" autocomplete="off" placeholder="Search trainings..." />
    <input type="submit" value="Search" class="btn btn-primary" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxRegisterTrainees)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainingType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trainer.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Studio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxRegisterTrainees)
                </td>
                <td>
                    <a name="register" class="register" href="#" trainee-id="@item.Id">Register</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script src="~/js/register.js"></script>
    <script src="~/js/search.js"></script>


    <script type="text/html" id="hidden-template">
        <tr>
            <td>
                {name}
            </td>
            <td>
                {trainer.id}
            </td>
            <td>
                {date}
            </td>
            <td>
                {time}
            </td>
            <td>
                {studio}
            </td>
            <td>
                {maxRegisterTrainees}
            </td>
            <td>
                <a href="/Trainings/Register/{id}">Register</a> |
                <a href="/Trainings/Edit/{id}">Edit</a> |
                <a href="/Trainings/Details/{id}">Details</a> |
                <a href="/Trainings/Delete/{id}">Delete</a>
            </td>
        </tr>
    </script>
}