@model IEnumerable<AMDM.Models.Training>

@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Http;

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
@if (Context.Session.GetString("Type") == UserType.Trainer.ToString())
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<div class="ticket-section" user-type="@Context.Session.GetString("Type")">


    @if (Context.Session.GetString("Type") == UserType.Trainee.ToString())
    {
        <div class="card display-trainee-ticket" trainee-id="@Context.Session.GetString("Id")" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Your ticket</h5>
            </div>
        </div>
    }
</div>
<div class="alert-section">



</div>

@if (ViewBag.Error != null)
{
    <div class="text-danger">@ViewBag.Error <br /></div>
}
<form asp-action="Search">

    <input name="query" id="query" autocomplete="off" placeholder="Search trainings..." user-id="@Context.Session.GetString("Id")" user-type="@Context.Session.GetString("Type")" />


    <label for="cars">filter by date:</label>
    <select id="date-filter" name="dateFilter" value="Search by dates...">
        <option value="today">Today</option>
        <option value="tomorrow">Tomorrow</option>
        <option value="week">This week</option>
        <option selected="selected" value="all">All dates</option>
    </select>
    <label>filter by training type:</label>
    <select id="type-filter" name="typeFilter" value="Search by trainings types...">
        <option selected="selected" value="all">All trainings types</option>

    </select>
    <label>filter by trainer name:</label>
    <select id="trainer-filter" name="trainerFilter" value="Search by trainer name...">
        <option selected="selected" value="all">All trainers</option>

    </select>
    <input type="submit" value="Search" class="btn btn-primary" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxRegisterTrainees)
            </th>
            <th>
                Place left
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Date > DateTime.Now.Date && item.TotalTraineesLeft > 0)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrainingType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Trainer.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Studio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaxRegisterTrainees)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalTraineesLeft)
                    </td>
                    <td>
                        <div class="registration-rap" training-id-rap="@item.Id">
                            @if (Context.Session.GetString("Type") == UserType.Trainee.ToString())
                            {
                                bool flag = false;
                                foreach (var trainee in item.Trainees)
                                {
                                    if (trainee.Id == Context.Session.GetString("Id"))
                                    {
                                        flag = true;
                                        break;
                                    }

                                }
                                <div class="registration" registration-flag="@flag.ToString()">
                                    <p class="text-success already-registered-message already-registered-message-@item.Id" style="display: none;">
                                        already registered to this training
                                    </p>
                                    <a name="" class="display-registration display-registration-@item.Id" href="#" training-id="@item.Id"></a> |
                                </div>



                            }
                        </div>
                        @if (Context.Session.GetString("Type") == UserType.Trainer.ToString())
                        {
                            <div>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                            </div>

                        }

                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                    </td>
                </tr>


            }

        }
    </tbody>
</table>

@section Scripts
{
    <script src="~/js/training-registration.js"></script>
    <script src="~/js/ticket.js"></script>

    <script src="~/js/training-search.js"></script>

    <script type="text/html" id="hidden-template-trainee-ticket">
        <h6>{name} ticket</h6>
        <h6>Ticket with {punchingHolesNumber} punches</h6>
        <h6>You have left: {remainingPunchingHoles} ticket's punches</h6>
        <h6>Expired at: {expiredDate}</h6>
    </script>

    <script type="text/html" id="hidden-template-search-resulte">
        <tr>
            <td>
                {name}
            </td>
            <td>
                {firstName}
            </td>
            <td>
                {date}
            </td>
            <td>
                {time}
            </td>
            <td>
                {studio}
            </td>
            <td>
                {maxRegisterTrainees}
            </td>
            <td>
                {totalTraineesLeft}
            </td>
            <td>
                <div class="registration-after-search">
                    <p class="text-success already-registered-message-after-search-{id}" style="display: none;">
                        already registered to this training
                    </p>
                    <a name="" class="display-registration-after-search-{id}" href="#" training-id="{id}"></a> |
                </div>
                <a asp-action="Details" asp-route-id="{Id}">Details</a>
            </td>
        </tr>
    </script>
    <script type="text/html" id="hidden-template-trainings-types-filter">
        <option value="{name}">{name}</option>
    </script>
    <script type="text/html" id="hidden-template-trainers-names-filter">
        <option value="{firstName}">{firstName}</option>
    </script>
    <script type="text/html" id="hidden-template-registration-error-alert">
        <div class="alert alert-danger" role="alert">
            {error}
        </div> 
    </script>
    <script type="text/html" id="hidden-template-registration-success-alert">
        <div class="alert alert-primary" role="alert">
            {message}
        </div>
    </script>
}