@model AMDM.Models.Trainee

@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http;

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

<div>
    <h1 class="display-4 text-center">
        Welcome @Context.Session.GetString("Name")
    </h1>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <a asp-controller="Trainees" asp-action="Details" asp-route-id="@Context.Session.GetString("Id")" class="btn btn-outline-primary btn-lg">
                    View Profile
                </a>
                <div>
                    <br />
                    @if (Model.Ticket != null)
                    {
                        @if (Model.Ticket.ExpiredDate > DateTime.Now.Date)
                        {
                            <div class="ticket-section" user-type="@Context.Session.GetString("Type")">
                                @if (Context.Session.GetString("Type") == UserType.Trainee.ToString())
                                {
                                    <div class="card display-trainee-ticket" trainee-id="@Context.Session.GetString("Id")">
                                        <h5 class="card-title text-center">Your ticket</h5>
                                        <div class="card-body ticket-body">
                                            
                                        </div>
                                        <div>
                                            <img src="..\css\small-weight.png" class="img-fluid small-weight-icone icone-1" alt="...">
                                            <img src="..\css\small-weight.png" class="img-fluid small-weight-icone icone-1" alt="...">
                                            <img src="..\css\small-weight.png" class="img-fluid small-weight-icone icone-3" alt="...">
                                            <img src="..\css\small-weight.png" class="img-fluid small-weight-icone icone-4" alt="...">
                                            <img src="..\css\small-weight.png" class="img-fluid small-weight-icone icone-5" alt="...">
                                            <img src="..\css\small-weight.png" class="img-fluid small-weight-icone icone-6" alt="...">
                                            <img src="..\css\small-weight.png" class="img-fluid small-weight-icone icone-7" alt="...">
                                            <img src="..\css\small-weight.png" class="img-fluid small-weight-icone icone-8" alt="...">
                                            <img src="..\css\small-weight.png" class="img-fluid small-weight-icone icone-9" alt="...">
                                            <img src="..\css\small-weight.png" class="img-fluid small-weight-icone icone-10" alt="...">
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <h5 class="card-title">
                            You do not have a ticket , to purchase a ticket
                            <a asp-controller="TicketTypes" asp-action="Index">click here</a>
                        </h5>
                    }
                </div>
                <div>
                    @if (Context.Session.GetString("Type") == UserType.Trainee.ToString())
                    {
                        if (Model.Ticket != null)
                        {
                            @if (Model.Ticket.ExpiredDate > DateTime.Now.Date)
                            {
                                <br />
                                <a asp-controller="Trainings" asp-action="Index" class="btn btn-outline-primary btn-lg">
                                    Register To Training
                                </a>
                            }
                        }

                    }
                </div>

            </div>
            <div class="col-sm-6">
                <div class="slider">
                    <input class="slider__dot" type="radio" name="slider" title="slide1" checked="checked" />
                    <input class="slider__dot" type="radio" name="slider" title="slide2" />
                    <input class="slider__dot" type="radio" name="slider" title="slide3" />
                    <input class="slider__dot" type="radio" name="slider" title="slide4" />
                    <div class="slider__inner"> 
                        <div class="slider__body">
                            <h2 class="slider__caption">news</h2>
                            <i class="slider__image fa fa-newspaper-o"></i>
                            <p class="slider__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!
                            </p>
                            <i class="slider__image fa fa-newspaper-o"></i>
                            <p class="slider__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!
                            </p>
                            <i class="slider__image fa fa-newspaper-o"></i>
                            <p class="slider__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!
                            </p>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            @*<div class="col-sm-6"></div>*@
            <br />
            <div class="col">
                @if (Model.Trainings.FindAll(training => training.Date >= DateTime.Now.Date && training.Date < DateTime.Now.AddDays(7).Date).Count() > 0)
                {
                <div class="container">
                    <h5>Your workouts this week:</h5>
                    <div class="row">
                        @foreach (var item in Model.Trainings)
                        {
                            @if (item.Date >= DateTime.Now.Date && item.Date < DateTime.Now.AddDays(7).Date)
                            {
                                <br />
                                <div class="col-sm-3">
                                    <div class="card training-card">
                                        <div class="card-body">
                                            <a asp-controller="Trainings" asp-action="Details" asp-route-id="@item.Id">
                                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.TrainingType.Name)</h5>
                                                <h6 class="card-subtitle mb-2 text-muted"><strong>Trainer:</strong> @Html.DisplayFor(modelItem => item.Trainer.FirstName)</h6>
                                                <p class="card-text"> @Html.DisplayFor(modelItem => item.Date) @Html.DisplayFor(modelItem => item.Time)</p>
                                                <p class="card-text"><strong>Studio:</strong> @Html.DisplayFor(modelItem => item.Studio)</p>
                                                <p class="card-text"><strong>Places left:</strong> @Html.DisplayFor(modelItem => item.TotalTraineesLeft)</p>
                                            </a>
                                            <a name="unregister" class="unregister card-link btn btn-danger" href="#" training-id="@item.Id">Unregister</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    </div>
                }
                else
                {
                <h5 class="card-title">You don't have trainings this week</h5>
                }
            </div>
        </div>
            
    </div>
</div>

@section Scripts
{
    <script src="~/js/training-registration.js"></script>
    <script src="~/js/ticket.js"></script>
    <script type="text/html" id="hidden-template-trainee-ticket">
        <h6>{name} ticket</h6>
        <h6>Ticket with {punchingHolesNumber} punches</h6>
        <h6>You have left: {remainingPunchingHoles} ticket's punches</h6>
        <h6>Expired at: {expiredDate}</h6>
    </script>
}
@section Styles {
    <link rel="stylesheet" href="~/css/ticket-display.css" />
    <link rel="stylesheet" href="~/css/news.css" />
    <link rel="stylesheet" href="~/css/trainee-welcome-page.css" />
    <link rel="stylesheet" href="~/css/trainingCard.css" />
}